{% extends "base.html" %}
{% import 'forms.html' as forms %}
{% block title %}网站查询工具{% endblock %}

{# 导航条 #}
{% block menu %}{{ super() }}{% endblock %}

{# 打印提示信息 #}

{%- block content %}
<div class="box">

<div class="container">

    <div class="row">
    <div class="col-sm-2"><apan>网址</apan><br/><textarea id="url" cols="20" rows="30" style="Border:1px solid #000"></textarea></div>
    <div class="col-sm-2"><span>关键词</span><br/><textarea id="key" cols="20" rows="30" style="Border:1px solid #000"></textarea></div>
    <div class="col-sm-4"><span>结果</span><br/><textarea id="result" cols="40" rows="30" style="Border:1px solid #000"></textarea></div>
    <div class="col-sm-2"><button id="query-btn" class="btn">开始查询</button><br/><a href="{{ url_for("tool.download_excel") }}" class="btn" >下载表格</a></div>
    </div>
</div>
</div>

    {% for message in get_flashed_messages() %}
        <script> alert('{{ message }}');</script>
    {% endfor %}
{% endblock -%}