{% extends "base.html" %}
{% import 'forms.html' as forms %}
{% block title %}网站查询工具{% endblock %}

{# 导航条 #}
{% block menu %}{{ super() }}{% endblock %}

{# 打印提示信息 #}

{%- block content %}
    <div class="container box">
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>查询工具</strong>
            </div>
            <div class="panel-body">
                <div class="progress progress-striped" id="progress" style="display: none;">
                    <div class="progress-bar progress-bar-danger" id="progress_striped" role="progressbar"
                         aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
                         style="width:0%;">
                        <span class="sr-only"></span>
                    </div>
                </div>
                <div class="col-sm-2" id="url_box">
                    <apan class="label label-danger col-sm-offset-5">网址</apan>
                    <br/><textarea class="form-control" id="url" cols="20" rows="30"></textarea></div>
                <div class="col-sm-2" id="key_box"><span
                        class="label label-danger col-sm-offset-5">关键词</span><br/><textarea class="form-control"
                                                                                            id="key" cols="20"
                                                                                            rows="30"></textarea></div>
                <table width="100%" border="0" style="display: none;" id="oTable">
                    <tr id="th">
                        <th>关键字</th>
                        <th>网址</th>
                        <th>排名</th>
                    </tr>
                </table>


                <div class="col-sm-2">
                    <ul class="list-group">
                        <li class="list-group-item"><a class="btn" id="query2-btn">开始查询</a><a class="btn" id="query2-back-btn">返回查询</a><a  class="btn" id="download">下载表格</a></li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
{% endblock -%}