{% extends "admin/admin_base.html" %}

{% block route %}
    <a href="#">查询服务器</a>
        <form action="{{ url_for('adm.search_site') }}"  target="_blank" method="post" style=" margin-top: -4px;" class="navbar-form navbar-right" role="search">
            <div class="form-group">
                <input type="text" name="text" class="form-control sm" placeholder="输入名称">
            </div>
            <button type="submit" class="table_btn">搜索</button>
        </form>



{% endblock %}
{% block content %}

    <table class="table table-bordered table-hover small-table" id="server">
        <thead>
        <tr>
            <th>备注</th>
            <th>提供商</th>
            <th>账号</th>
            <th>密码</th>
            <th>IP</th>
            <th>内网IP</th>
            <th>root权限</th>
            <th>登陆路径</th>
            <th>FTP权限</th>
            {#          <th>SQL地址</th>#}
            {#          <th>SQL账户</th>#}
            {#          <th>SQL密码</th>#}
            <th>附加IP</th>
            <th>价格</th>
            <th>购买日期</th>
            <th>到期日期</th>
        </tr>
        </thead>
        <tbody id="query_server">
        {% for row in data %}
            <tr sid="{{ row[0] }}">
                {% for col in row[1:] %}
                    {% if not col %}
                        <td> 无</td>
                    {% else %}
                        <td> {{ col }}</td>
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}