{% extends "base.html" %}
{% import 'forms.html' as forms %}
{% block title %}记录文章{% endblock %}

{# 导航条 #}
{% block menu %}{{ super() }}{% endblock %}

{# 打印提示信息 #}

{%- block content %}
<div class="box">
    <form action="{{ url_for('menu.article_records') }}" method="POST">
    <table  border="0" cellspacing="0" cellpadding="0" width="100%" class="topTab">
        <tr>
            <th width="30%">帖子标题</th>
            <th width="40%">帖子地址</th>
            <th width=30%">操作</th>
        </tr>

        <tr>
            <td align="center">{{ forms.input(name="title", class="intTitle") }}</td>
            <td align="center">{{ forms.input(name="url", class="intUrl") }}</td>
            <td align="center"><button name="" type="submit" class="btn" value="添加" >添加</button><a class="btn" id="import">批量导入</a></td>
        </tr>
            
    </table>

        <img class="tishi img-rounded" src="{{ url_for('static',filename='images/tishi.jpg') }}" style="display: none;position:absolute;left: 20%;top:10%;z-index: 999;">
    <table width="100%" border="0"  id="oTable">
    		<tr>
                <th width="30%">帖子标题</th>
                <th width="30%">帖子地址</th>
                <th width="10%">姓名</th>
                <th width="20%">时间</th>
                <th width="10%">操作</th>
      	    </tr>
        {% for entry in entries %}
            <tr>
                <td>{{ entry.title }}</td>
                <td>{{ entry.url }}</td>
                <td>{{ entry.name }}</td>
                <td>{{ entry.date }}</td>
                <td><a href="{{ url_for('menu.delete_post', key=entry.key,id=entry.id) }}" class="btn">删除</a></td>
            </tr>
        {% else %}
            <tr><td colspan="3">没有数据</td></tr>
        {% endfor %}
        </table>
    </form>
</div>

{% endblock -%}