<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    {%- block head %}
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %} - 成都美世在线管理系统</title>
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style/style.css' ) }}" media="all"/>
        <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-1.8.3.min.js' ) }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/func.js' ) }}"></script>
    {% endblock -%}
</head>
<body>
{% block menu %}
    <div id="nav" class="nav">
        <div id="li" class="li">
            <ul>
                {#                 需要权限的导航#}
                <li><a href="{{ url_for('menu.index') }}">首页</a></li>
                <li><a href="{{ url_for('menu.article_records') }}">记录文章</a></li>
                <li><a href="{{ url_for('menu.register_web_info') }}">网站注册信息</a></li>

                {#                 通用导航#}
                <li><a href="{{ url_for('menu.mail') }}">邮件管理</a></li>
                <li><a href="{{ url_for('tool.tools') }}">工具</a></li>
                {% if session.get('exa_user') >= 1 %}
                    <li><a href="{{ url_for('menu.post_count') }}">文章管理</a></li>
                {% endif %}
                {#                 登录导航#}
                {% if not session.username %}
                    <li class="on"><a href="{{ url_for('menu.login') }}">登录</a></li>
                {% else %}
                    <li class="on"><a href="{{ url_for('menu.logout') }}">退出</a></li>
                {% endif %}
            </ul>
        </div>
        {%- if session.get('username') %}
            <div class="user">
            <p class="fr userbtn">
                {{ session.get('username') }}，欢迎您！
            </p>
        {%- else -%}
            <p class="fr">未登录</p>
        {% endif -%}
        </div>
    </div>
{% endblock %}

{% block content %}

    {% for message in get_flashed_messages() %}
        <script> alert('{{ message }}');

           jPrompt('输入字符:', '这里是默认值', '带输入框的提示框', function(r) {
    if( r ) alert('你输入的是 ' + r);
});

        </script>
    {% endfor %}
{% endblock %}
{% block foot %}
    <div class="foot">
        成都美世在线管理系统-品牌部
    </div>
{% endblock %}
</body>
</html>

