{% extends "base.html" %}
{% import 'forms.html' as forms %}
{% block title %}邮件管理{% endblock %}

{# 导航条 #}
{% block menu %}{{ super() }}{% endblock %}

{# 打印提示信息 #}

{%- block content %}
<div class="box">
    <form action="{{ url_for('menu.mail') }}" method="POST">
    <table  border="0" cellspacing="0" cellpadding="0" width="100%"  class="topTab">
        <tr>
            <th width="40%">邮箱</th>
            <th width="40%">密码</th>
            <th width="20%">操作</th>
        </tr>

        <tr>
            <td align="center">{{ forms.input(name="username", class="intUrl") }}</td>
            <td align="center">{{ forms.input(name="password", class="intUrl") }}</td>
            <td align="center"><button name="" type="submit" class="btn" value="添加" >添加</button></td>
        </tr>

    </table>
    <table width="100%" border="0"  id="oTable">
        <tr>
            <th width="30%">邮箱</th>
            <th width="30%">密码</th>
            <th width="20%">时间</th>
            <th width="10%">操作</th>
        </tr>
        {% for entry in entries %}
            <tr>

                <td>{{ entry.username }}</td>
                <td>{{ entry.password }}</td>
                <td>{{ entry.date }}</td>
                <td><a href="{{ url_for('menu.mail_delete', key=entry.key,id=entry.id ) }}" class="btn">删除</a></td>
            </tr>
        {% else %}
            <tr><td colspan="3">没有数据</td></tr>
        {% endfor %}
        </table>
    </form>
</div>

    {% for message in get_flashed_messages() %}
        <script> alert('{{ message }}');</script>
    {% endfor %}
{% endblock -%}