<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/bootstrap.min.css')}}" />
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style/style.css') }}" media="all"/>
    <style>
        body {
            background: none;
            background-color: #fff;
        }

    </style>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-1.8.3.min.js' ) }}"></script>
    <script>
        $(function () {
            // 审核/取消审核时候写入数据库
            var exa_btn = $('a[exa=exa]');
            //btn no-btn 通过按钮
            //btn exa-btn 取消按钮
            //btn fail-btn 不通过按钮
            function modify_btn(btn) {
                if (btn.hasClass("exa-btn")) {
                    $(btn.parent()).css("display","none");
                    btn.parent().parent().children("span[status=noexa]").css("display","block");
                } else if(btn.hasClass("no-btn")) {
                    $(btn.parent()).css("display","none");
                    btn.parent().parent().children("span[status=exaed]").css("display","block");
                } else{
                    $(btn.parent()).css("display","none");
                    btn.parent().parent().children("span[status=fail]").css("display","block");
                }
            }

            exa_btn.click(function () {
                if ($(this).hasClass("no-btn")) {
                    var operation = "ok";
                    {# 提交通过 1#}
                } else if ($(this).hasClass("fail-btn")) {
                    var operation = "fail";
                    {# 提交贴子不通过 2#}
                } else {
                    var operation = "cancel";
                    {# 提交取消 0#}
                }

                var e_btn = $(this);
                var post_id = $(this).attr("name");
                $.post("/exa_post", {
                    "post_id": post_id,
                    "is_exa": operation
                }, function (data) {
                    if (data == "success") {
                        modify_btn(e_btn);
                        alert("提交成功！");
                    } else {
                        alert("提交失败！")
                    }
                });
            })
        })
    </script>
</head>
<body>

<div class="box">
    <table width="98%" border="0" id="oTable">
        <tr>
            <th width="25%">帖子标题</th>
            <th width="35%">帖子地址</th>
            <th width="5%">姓名</th>
            <th width="15%">时间</th>
            <th width="20%">审核</th>
        </tr>
        {%- for entry in entries %}
            <tr>
                <td>{{ entry.title }}</td>
                <td><a href="{{ entry.url }}" target="_Blank">{{ entry.url }}</a></td>
                <td>{{ entry.name }}</td>
                <td>{{ entry.date }}</td>
                {%- if is_exa_user >= 1 %} {# 有审核权限 #}
                    <td><span class="a-exa">
                        <span status="exaed" {%- if entry.is_exa_post == 1 %} style="display: block;" {% endif -%}>已审核<a style="cursor:pointer;" exa="exa" class="btn exa-btn" name="{{ entry.id }}">取消</a></span>

                       <span status="fail" {% if entry.is_exa_post == 2 %} style="display: block;"  {% endif -%}>未通过
                        <a style="cursor:pointer;" exa="exa" class="btn no-btn" name="{{ entry.id }}">通过</a></span>

                        <span status="noexa" {% if entry.is_exa_post == 0 %}style="display: block;" {% endif %} >未审核<a style="cursor:pointer;" exa="exa" class="btn no-btn" #}
                              name="{{ entry.id }}">通过</a><a style="cursor:pointer;"
                                                             exa="exa"
                                                             class="btn fail-btn"
                                                             name="{{ entry.id }}">不通过</a><span>
                    </span>
                    </td>

                {% else %} {# 无审核权限 #}
                    <td><span class="a-exa">{%- if entry.is_exa_post == 1 %}已审核{% elif entry.is_exa_post == 2 %}
                        <span status="fail" style="display: block;">未通过</span>{% else %}<span status="noexa" style="display: block;">未审核</span>{% endif -%}  </span>
                    </td>
                {% endif -%}
            </tr>
        {% else -%}
            <tr>
                <td colspan="3">没有数据</td>
            </tr>
        {% endfor %}
    </table>
    <div class="page">
        <ul class="pagination pagination-sm">
            <li><a href="{{ url_for('menu.page', page=1,y=date_y,m=date_m,d=date_d,user_post_id=user_post_id) }}">首页</a>
            </li>
            {% if current_page > 1 %}
                <li>
                    <a href="{{ url_for('menu.page', page=upper_page,y=date_y,m=date_m,d=date_d,user_post_id=user_post_id) }}">&laquo;</a>
                </li>
            {% endif %}

            {%- for x in number %}
                {% if x == current_page %}
                    <li class="thisclass"><a
                            href="{{ url_for('menu.page', page=x,y=date_y,m=date_m,d=date_d,user_post_id=user_post_id) }}">{{ x }}</a>
                    </li>
                {% else %}
                    <li>
                        <a href="{{ url_for('menu.page', page=x,y=date_y,m=date_m,d=date_d,user_post_id=user_post_id) }}">{{ x }}</a>
                    </li>
                {% endif %}
            {% endfor -%}
            {%- if current_page >= 1 and current_page < max_list %}
                <li>
                    <a href="{{ url_for('menu.page', page=next_page,y=date_y,m=date_m,d=date_d,user_post_id=user_post_id) }}">&raquo;</a>
                </li>
            {% endif -%}
            <li>
                <a href="{{ url_for('menu.page', page=max_list,y=date_y,m=date_m,d=date_d,user_post_id=user_post_id) }}">尾页</a>
            </li>
        </ul>
    </div>
</div>
</body>
</html>

