{% extends "base.html" %}
{% import 'forms.html' as forms %}

{% block title %}文章管理{% endblock %}

{# 导航条 #}
{% block menu %}{{ super() }}{% endblock %}

{# 打印提示信息 #}
{%- block content %}
    <div class="box">
        <table width="100%" border="0">
            <tr>
                <th width="30%">姓名</th>
                <th width="25%">帖子数</th>
                <th width="30%">日期</th>
                <th width="15%">操作</th>
            </tr>

            {% for entry in entries %}
                <tr>
                    <td>{{ entry.username }}</td>
                    <td>{{ entry.count }}</td>
                    <td>
                        <div user_id="{{ entry.id }}" class="dateSelector">
                            <select name="idYear">
                                <option value="2015">2015</option>
                                <option value="2016" selected="selected">2016</option>
                                <option value="2017">2017</option>
                                <option value="2018">2018</option>
                                <option value="2019">2019</option>
                                <option value="2020">2020</option>
                                <option value="2021">2021</option>
                                <option value="2022">2022</option>
                                <option value="2023">2023</option>
                                <option value="2024">2024</option>
                                <option value="2025">2025</option>
                            </select>年
                            <select name="idMonth">
                                <option value="1" selected="selected">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                            </select>月
                            <select name="idDay">
                                <option value="1" selected="selected">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                                <option value="13">13</option>
                                <option value="14">14</option>
                                <option value="15">15</option>
                                <option value="16">16</option>
                                <option value="17">17</option>
                                <option value="18">18</option>
                                <option value="19">19</option>
                                <option value="20">20</option>
                                <option value="21">21</option>
                                <option value="22">22</option>
                                <option value="23">23</option>
                                <option value="24">24</option>
                                <option value="25">25</option>
                                <option value="26">26</option>
                                <option value="27">27</option>
                                <option value="28">28</option>
                                <option value="29">29</option>
                                <option value="30">30</option>
                                <option value="31">31</option>
                            </select>日
                        </div>
                    </td>
                    <td>
                        <a class="btn manager_btn" href="{{ url_for('menu.page',user_post_id = entry.id) }}" target="_blank">管理</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">没有数据</td>
                </tr>
            {% endfor %}
        </table>
    </div>
    {% for message in get_flashed_messages() %}
        <script> alert('{{ message }}');</script>
    {% endfor %}
{% endblock -%}