* {
    padding: 0px;
    margin: 0px;
}

@font-face {
    font-family: FontAwesome;
    src: url(../fonts/fontawesome-webfont.eot?v=3.2.1);
    src: url(../fonts/fontawesome-webfont.eot?#iefix&v=3.2.1) format('embedded-opentype'), url(../fonts/fontawesome-webfont.woff?v=3.2.1) format('woff'), url(../fonts/fontawesome-webfont.ttf?v=3.2.1) format('truetype'), url(../fonts/fontawesome-webfont.svg#fontawesomeregular?v=3.2.1) format('svg');
    font-weight: 400;
    font-style: normal
}

.icon-chevron-right:before {
    content: "\f054";
    padding-left: 10px;
}

.icon-chevron-down:before {
    content: "\f078"
}

.icon-user:before {
    content: "\f007"
}

.icon-gear:before, .icon-cog:before {
    content: "\f013"
}

.icon-signout:before {
    content: "\f08b"
}

.icon-chevron-down:before {
    content: "\f078"
}

.icon-home:before {
    content: "\f015";
    font-size: 16px
}

.icon-reorder:before {
    content: "\f0c9";
    font-size: 16px
}

.icon-signal:before {
    content: "\f012";
    font-size: 16px
}

.icon-location-arrow:before {
    content: "\f124";
    font-size: 16px
}

.glyph-icon {
    vertical-align: middle;
    font-family: FontAwesome;
    font-weight: 400;
    font-size: 12px;
    font-style: normal;
    padding-top: 5px;
    padding-right: 5px;
}

html, body {
    height: 100%;
    /*overflow: hidden;*/
}

body {
    padding: 0px;
    margin: 0px;
    line-height: 1.6;
    font: 12px "Microsoft YaHei", Simsun, Tahoma, Arial, sans-serif;
    color: #000;
    font-family: "微软雅黑";
    /*background-color: #e7e8eb;*/
}

/*顶部div*/
.layout_top_header {
    background-color: #353636;
    width: 100%;
    height: 55px;
}

/*管理员设置*/
.ad_setting {
    cursor: pointer;
    border-left: 1px solid #424242;
    width: 130px;
    height: 100%;
    float: right;
    line-height: 50px;
}

.ad_setting:hover {
    text-decoration: none;
    background: #3E3E3E;
}

.ad_setting_a {
    text-align: center;
    font-size: 13px;
    color: rgba(255, 255, 255, .5);
    /*color: #888;*/
    text-decoration: none;
    display: block;
}

.ad_setting_a:hover {
    color: #CCCCCC !important;
    text-decoration: none;
}

.ad_setting_a span {
    padding-right: 5px;
    vertical-align: middle;
}
.dropdown-menu-uu{
    display: none;
}

.dropdown-menu-uu:after {
    position: absolute;
    top: -6px;
    right: 8px;
    left: auto;
    display: inline-block;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #fff;
    border-left: 6px solid transparent;
    content: '';
}

#ad_setting_ul {
    list-style: none;
    font-size: 12px !important;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 1px;
    background: #fff;
    border-radius: 5px;
    position: absolute;
    right: 20px;
    top: 50px;
    left: auto;
    z-index: 1000;
    min-width: 160px;
    border-color: #b8b8b8;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, .25);
    border-style: solid;
    border-width: 1px;

}

#ad_setting_ul li {
    padding-left: 30px;
    line-height: 30px !important;
}

#ad_setting_ul li:hover {
    background: black;
    border-radius: 5px;
    color: white;
}

.ad_setting_ul li {
    color: #000000 !important;
}

.ad_setting_ul_li a {
    color: #000000;
    text-decoration: none;
}

.ad_setting_ul_li_a {
    color: #fff !important;
    text-decoration: none !important;
}

/*菜单*/
.layout_left_menu {
    position: absolute;
    float: left;
    min-height: 90%;
    box-shadow: 0 0 10px #BDBDBD;
    width: 200px;
    background: #f7f5fa;
    margin-top: 5px;
    margin-left: 5px;
    padding-left: 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    filter: alpha(Opacity=90);
    -moz-opacity: 0.95;
    opacity: 0.95;

}

#menu {
    padding: 10px;
    list-style: none;
    line-height: 35px;
    border-radius: 5px;
    color: #888 !important;
}

#menu ul {
    list-style: none;
    background: rgba(255, 255, 255, .5);
}

#menu li {
    color: #888;
}

.selected {
    background: #eee;
    border-color: #d5d5d5;
    color: #000;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.selected > a {
    border: transparent solid 1px;
    border-radius: 3px;
    background: #eee;
    border-color: #d5d5d5;
    color: #000 !important;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

#menu a {
    text-decoration: none;
}

#menu a:hover {
    text-decoration: none;
}

#menu > li > a {
    font-weight: 700;

    display: block;
    color: #888;
    font-family: "Helvetica Neue", "Hiragino Sans GB", "Microsoft YaHei", "\9ED1\4F53", Arial, sans-serif;

}

#menu li ul {
    background: #fff;
    border: #eee solid 1px;
    font-size: 12px;
    color: #8d8d8d;
}

.childUlLi ul {
    margin-bottom: 5px;
    line-height: 30px;
}

.childUlLi a {
    border-radius: 3px;
}

.childUlLi a:hover {
    background: #eee;
    color: #000 !important;
}

.childUlLi a i {
    opacity: .5;
    padding-left: 10px;
    padding-right: 10px;
}

.childUlLi ul a {
    color: #888;
    display: block;
}

.childUlLi ul a:hover {
    background: #eee;
    color: #000;
}

/*main内容显示*/
.layout_right_content {
    margin-left: 210px;
    padding-left: 10px;
    padding-top: 5px;
    height: 90%;
    min-height: 90%;

}

.route_bg {
    background-color: #E7E7E7;
    border-radius: 4px;
    padding: 5px;
    margin-right: 5px;
}

.route_bg i {
    color: #ccc;
}

.route_bg a {
    font-size: 12px;
    color: #666;
    text-decoration: none;
}

.route_bg a:hover {
    color: #888;
    text-decoration: none;

}

.mian_content {
    position: relative;
    min-height: 90%;
    width: 95%;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    overflow: auto;
    filter: alpha(Opacity=90);
    -moz-opacity: 0.95;
    opacity: 0.95;
    box-shadow: 0 0 10px #BDBDBD;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;

}

/* admin后台 样式 */
.admin_banner {
    font-size: 16px;
    line-height: 45px;
    padding-left: 20px;
    color: #dedede;
}



.div_from_aoto {
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    margin-top: 30px;
    width: 450px;
    line-height: 40px;
}

.div_from_aoto input {
    width: 180px;
    *width: 200px;
    height: 30px;
    line-height: 40px;
}

.laber_from {
    width: 100px;
    float: left;
    line-height: 35px;
    color: #222;
    font-weight: normal;
}

.control-group {
    padding-bottom: 10px;
}

.input_select {
    width: 100px;
    height: 30px;
    cursor: pointer;
}




